body {
  margin: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  nav {
    margin-bottom: 30px;
    padding: 30px;
    text-align: right;
  
    a {
      font-weight: bold;
      color: #2c3e50;
  
      &.router-link-exact-active {
        color: #42b983;
      }
    }

   
  }
  
  .cajon {
      height: 250px;
      background-size: cover;
  }
  
  .lin1 {
      width:  100%;
      z-index: 10;
  }

  .contenedor {
      
      display: flex;
      flex-wrap:  wrap;
      justify-content: space-evenly;
      margin-top: 100px;
      margin-bottom: 300px;
      width: 95%;
  }    
  
  .opc {
    height: 200px;
    width: 200px;
    margin-right: 50px;
    margin-bottom: 100px;
  }
  
  
  .caja:hover{
      transform: scale(1.4);
  
  }

  video {
    min-width: 100%;
    min-height: 100%; 

    position: fixed;

    z-index: -1;
  }

  /* Motivos */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 60px;
}

.card {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #48ca95;
  border-radius: 15px;
  padding: 30px;
  max-width: 350px;
}

.card h5 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.card p {
  text-align: justify;
}

/* End Motivos */

/* Banner */

.banner {
  background-color: #4f4aa6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.banner-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.banner-content-text {
  max-width: 500px;
  color: white;;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 48px;
}

.banner-subtitle {
  font-size: 30px;
}

/* End Banner */

/* Descripción de Sala */

.descSala {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.descSala-card {
  width: 800px;
}

.descSala-card h5 {
  font-size: 28px;
  margin-bottom: 20px;
}

.descSala-card p {
  margin-bottom: 30px;
  text-align: justify;
}


@media(max-width: 800px){
  .descSala-card {
      width: 96%;
  }    
}

.btn-primary-full {
  color: white;
  display: flow-root;
  padding: 15px 60px;
  border: 4px solid #48ca95;
  text-align: center;
  text-decoration: none;
  background-color: #48ca95;
}

.btn-primary-full:hover {
  color: black;
  background-color: red;
}

/* End Reviews */

/* Footer */  

footer {
  width: 100%;
  /*background-image: url('./assets/images/footer.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Footer */